{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-8 order-md-1 ">   
        <form class="form-Booking" method="POST" action="">
          {{ form.hidden_tag() }}
          <h4 class="mb-3">Event Details</h4>
          <h3>{{ post.id }}</h3>    
          <div class="form-group">
            {{ form.name.label(class="sr-only")}}
            <label for="comment">Name:</label>
            {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
             {% else %}
                {{ form.name(class="form-control",value=post.name)}}
             {% endif %}
             
        </div>

        <div class="form-group">
            {{ form.email.label(class="sr-only") }}
            <label for="comment">E-Mail:</label>
            {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
             {% else %}
                {{ form.email(class="form-control",value=post.email)}}
             {% endif %}
        </div>
        
          <div class="form-group">
            <label for="event_name">Event Name</label>
            {{ form.event_name.label(class="sr-only") }}
            {% if form.event_name.errors %}
                {{ form.event_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.event_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
             {% else %}
                {{ form.event_name(class="form-control", value=post.event_name )}}
             {% endif %}
          </div>

          <div class="form-group">
            <label for="city">City</label>
            {{ form.city.label(class="sr-only") }}
            {% if form.city.errors %}
                {{ form.city(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.city.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
             {% else %}
                {{ form.city(class="form-control", value=post.city)}}
             {% endif %}
          </div>

          <div class="form-group">
            <label for="venue">Venue(Optional)</label>
            {{ form.venue.label(class="sr-only") }}
            {% if form.venue.errors %}
                {{ form.venue(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.venue %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
             {% else %}
                {{ form.venue(class="form-control", value=post.venue)}}
             {% endif %}
          </div>

          <div class="form-group">
            <label for="event_name">Date</label>
            {{ form.date.label(class="sr-only") }}
            {% if form.date.errors %}
                {{ form.date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.date.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
             {% else %}
                {{ form.date(class="form-control", value=post.date)}}
             {% endif %}
          </div>

          <div class="form-group">
            <label for="event_name">Phone Number(add country code)</label>
            {{ form.phone.label(class="sr-only") }}
            {% if form.phone.errors %}
                {{ form.phone(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.date.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
             {% else %}
                {{ form.phone(class="form-control", value=post.phone)}}
             {% endif %}
          </div>


          <div class="form-group">
            <label for="event_name">Attendees</label>
            {{ form.attendees.label(class="sr-only") }}
            {% if form.attendees.errors %}
                {{ form.attendees(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.attendees.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
             {% else %}
                {{ form.attendees(class="form-control",type="number",id="example-number-input", value=post.attendees)}}
             {% endif %}
          </div>


          <div class="form-group">
            <label for="event_name">Time</label>
            {{ form.time.label(class="sr-only") }}
            {% if form.time.errors %}
                {{ form.attendees(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.time.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
             {% else %}
                {{ form.time(class="form-control",type="time",id="ime-input",value=post.time)}}
             {% endif %}
          </div>          

         <div class="form-group">
            {{ form.name.label(class="sr-only")}}
            <label for="comment">Additional Requirements</label>
            {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
             {% else %}
                {{ form.name(class="form-control",value=post.additional_requirements)}}
             {% endif %}
             
        </div>
      

          
        </form>
      </div>
    </div>
  </div>

    <a class="btn btn-secondary btn-sm" href="{{ url_for('update_booking', booking_id=Booking.id) }}">Update</a>
    
    <h2>------------------------------------------------------------------------------------------------------------------------------------------------------------</h2>

{% endblock content %}